@import "base/normalize";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "vendors/font-awesome";
@import "base/fonts";
@import "components/helpers";
@import "base/base";
@import "components/buttons";
@import "../libs/slick/slick/slick";
@import "../libs/fancybox-master/dist/jquery.fancybox";

@import "partials/header";

@import "layout/slider";
@import "layout/layout";
@import "layout/basket";
@import "layout/board";
@import "layout/menu";
@import "layout/board-open";
@import "layout/widget";
@import "layout/article";
@import "layout/product-box";
@import "layout/brand";
@import "layout/instagram";
@import "layout/social";
@import "layout/bg";
@import "layout/product-info";
@import "layout/product-tabs";

@import "partials/footer";

@import "base/media";


#ip-viewfinder{
	border: dotted #ccc 1px;
	background: rgba(255,255,255,0.5);
  }
  
  .wrap {
	float: left;
	display: block;
	position: relative;
  }
  
  .overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 2;
  }
  
  .overlay:after {
	content: "Hover me!";
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -80px;
	margin-top: -1.5em;
	width: 160px;
	height: 3em;
	line-height: 3em;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	font-weight: bold;
  }
  
  .overlay:hover:after { display: none; }