* {
  box-sizing: border-box;
}
body {
  color: $black;
  background-color: $white-color;
  font: 400 14px/22px $roboto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $rale;
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 20px;
}
h4 {
  font-size: 18px;
  color: $white;
  font-weight: 800;
}
p {
  margin-bottom: 10px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $black;
}
input,
button,
textarea {
  outline: none;
  border: none;
}
button {
  padding: 0;
  margin: 0;
}
input {
  padding: 10px 12px;
  font-size: 10px;
  color: $black;
  border: none;
  background-color: $white-gray;
  &::placeholder {
    text-transform: uppercase;
  }
}
img{
	width: 100%;
}