section.article.aside-padding
	.article__title.title__holder
		h2 Articles Experts
	ul.article-list
		li.article-list__item
			a.article-list__link(href="#") LG Spectrum review
		li.article-list__item
			a.article-list__link(href="#") Verizon Droid Xyboard 8.2 and 10.1 review
		li.article-list__item
			a.article-list__link(href="#") Mac mini review (mid 2011)
		li.article-list__item
			a.article-list__link(href="#") Wacom Inkling review
		li.article-list__item
			a.article-list__link(href="#") Sonos Play:3 review
		li.article-list__item
			a.article-list__link(href="#") HTC Radar 4G review
		li.article-list__item
			a.article-list__link(href="#") Canon PowerShot S100 
		li.article-list__item
			a.article-list__link(href="#") Apple iMac 
	a.article__link.view-link(href="#") view all