section.basket
	.container
		.basket-box
			.basket-box__top
				a(href="#").basket-box__link login
				a(href="#").basket-box__link wish list
			.basket-box__value.fa-shopping-cart
				span.basket-box__price $1,459.50
				.basket-box__inner
					a(href="#").basket-box__number 2 items
					a(href="#").basket-box__cancel.fa-times Edit
			.basket-box__buy
				a.basket-box__view(id="search-fancy" href="javascript:;") View cart
				a.basket-box__view(href="#") Checkout
			.basket-box__form
				form.search-form
					input(type="search" placeholder="Search").search-form__input
					button(type="button").search-form__button