section.basket
	.container
		table.basket-box
			tr.basket-box__top
				td.basket-box__link
					a(href="#") login
				td.basket-box__link
					a(href="#") wish list
			tr.basket-box__value
				td.basket-box__price $1,459.50
					span.basket-box__number 2 items
				td.basket-box__cencel
			tr.basket-box__buy
				td.basket-box__view
					a(href="#") View cart
				td.basket-box__view
					a(href="#") Checkout
			tr.basket-box__form
				td
					form.search-form
						input(type="text" playsholder="Search").search-form__input
						button(type="button").search-form__button