section.board
	.container
		.board-box
			.board-box__title
				h2 welcome to surfhouse
			.board-box__text
				p The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs