section.menu.menu-category
	ul.menu-list
		li.menu-list__item.menu-list__item-gray
			span.menu-list__link.menu-list__link-white  brand options                                        
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light billabong
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light element
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light o’neill
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light oakley
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light reef
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light quiksilver
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light ripcurl
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light jackss



			







