section.brand
	.container
		ul.brand-list
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")
			li.brand-list__item
				a(href="#").brand-list__image
					img(src="img/brand-img.jpg", alt="")