section.menu.menu-category
	ul.menu-list
		li.menu-list__item.menu-list__item-gray
			span.menu-list__link.menu-list__link-white Category options                                         
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light Men
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light Women
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light Kids
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light wetsuits
		li.menu-list__item
			a(href="#").menu-list__link.menu-list__link-light outerwear
