footer.footer
	.container
		.footer-heading
			.footer-heading__holder
				.footer-title
					h4 Category
				ul.holder-list
					li.holder-list__item
						a.holder-list__link(href="#") Home
					li.holder-list__item
						a.holder-list__link(href="#") about us
					li.holder-list__item
						a.holder-list__link(href="#") eshop
					li.holder-list__item
						a.holder-list__link(href="#") Features
					li.holder-list__item
						a.holder-list__link(href="#") new collections
					li.holder-list__item
						a.holder-list__link(href="#") blog
					li.holder-list__item
						a.holder-list__link(href="#") contact
			.footer-heading__holder
				.footer-title
					h4 Category
				ul.holder-list
					li.holder-list__item
						a.holder-list__link(href="#") Home
					li.holder-list__item
						a.holder-list__link(href="#") about us
					li.holder-list__item
						a.holder-list__link(href="#") eshop
					li.holder-list__item
						a.holder-list__link(href="#") Features
					li.holder-list__item
						a.holder-list__link(href="#") new collections
					li.holder-list__item
						a.holder-list__link(href="#") blog
					li.holder-list__item
						a.holder-list__link(href="#") contact
			.footer-heading__holder
				.footer-title
					h4 Category
				ul.holder-list
					li.holder-list__item
						a.holder-list__link(href="#") Home
					li.holder-list__item
						a.holder-list__link(href="#") about us
					li.holder-list__item
						a.holder-list__link(href="#") eshop
					li.holder-list__item
						a.holder-list__link(href="#") Features
					li.holder-list__item
						a.holder-list__link(href="#") new collections
					li.holder-list__item
						a.holder-list__link(href="#") blog
					li.holder-list__item
						a.holder-list__link(href="#") contact
			.footer-heading__news
				.footer-title
					h4 Newslatter
				.footer-text
					p Join thousands of other people subscribe to our news
				.footer-form
					form.news-form
						input(type="email" placeholder="Insert email").news-form__input
						input(type="submit" value="Submit").news-form__button
				.footer-payico
					ul.payico-list
						li.payico-list__item
							.payico-list__image
								img(src="img/visa-img.jpg", alt="")
						li.payico-list__item
							.payico-list__image
								img(src="img/visa-img.jpg", alt="")
						li.payico-list__item
							.payico-list__image
								img(src="img/visa-img.jpg", alt="")
						li.payico-list__item
							.payico-list__image
								img(src="img/visa-img.jpg", alt="")
						li.payico-list__item
							.payico-list__image
								img(src="img/visa-img.jpg", alt="")
						li.payico-list__item
							.payico-list__image
								img(src="img/visa-img.jpg", alt="")
			.footer-heading__about
				.footer-title
					h4 About us
				.footer-text
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
				dl.footer-contact
					dt.footer-contact__label Phone:
					dd.footer-contact__info
						a.footer-contact__link(href="tel:1-99-342-9876") 1-99-342-9876
				dl.footer-contact
					dt.footer-contact__label e-mail:
					dd.footer-contact__info
						a.footer-contact__link.footer-contact__link-yellow(href="mailto:info@surfhouse.com") info@surfhouse.com
	.footer-inner
		.container
			.footer-area
				.footer-copy
					p 2014  SURFHOUSE. All rights reserved - Designed by theuncreativelab.com
				ul.social-list
					li.social-list__item
						a.social-list__link(href="#").fa-facebook
					li.social-list__item
						a.social-list__link(href="#").fa-twitter
					li.social-list__item
						a.social-list__link(href="#").fa-youtube
					li.social-list__item
						a.social-list__link(href="#").fa-pinterest
					li.social-list__item
						a.social-list__link(href="#").fa-instagram
					li.social-list__item
						a.social-list__link(href="#").fa-google-plus
					li.social-list__item
						a.social-list__link(href="#").fa-music
						



