header.header
	.container
		.header__wrap
			a(href="#").header__logo
				img(src="img/logo.png")
			ul.social-list
				li.social-list__item
					a.social-list__link(href="#").fa-music
				li.social-list__item
					a.social-list__link(href="#").fa-music
				li.social-list__item
					a.social-list__link(href="#").fa-music
				li.social-list__item
					a.social-list__link(href="#").fa-music
				li.social-list__item
					a.social-list__link(href="#").fa-music
				li.social-list__item
					a.social-list__link(href="#").fa-music