header.header
	.container
		.header__wrap
			a(href="#").header__logo
				img(src="img/logo.png")
			ul.social-list
				li.social-list__item
					a.social-list__link(href="#").fa-facebook
				li.social-list__item
					a.social-list__link(href="#").fa-twitter
				li.social-list__item
					a.social-list__link(href="#").fa-youtube
				li.social-list__item
					a.social-list__link(href="#").fa-pinterest
				li.social-list__item
					a.social-list__link(href="#").fa-instagram
				li.dropdown.social-list__item
					a.dropbtn(onclick="dropdowns()") EN
					div#myDropdown.dropdown-content
						a(href="#") UA
						a(href="#") RU
