section.instagram
	.container
		.instagram-wrap
			.instagram-title.fa-instagram
				h3 Instagram feed: 
					span #surfhouse
			ul.instagram-list
				li.instagram-list__item
					a.instagram-list__link(href="#")
						img(src="img/inst-img1.jpg", alt="")
				li.instagram-list__item
					a.instagram-list__link(href="#")
						img(src="img/inst-img1.jpg", alt="")
				li.instagram-list__item
					a.instagram-list__link(href="#")
						img(src="img/inst-img1.jpg", alt="")
				li.instagram-list__item
					a.instagram-list__link(href="#")
						img(src="img/inst-img1.jpg", alt="")
				li.instagram-list__item
					a.instagram-list__link(href="#")
						img(src="img/inst-img1.jpg", alt="")
				li.instagram-list__item
					a.instagram-list__link(href="#")
						img(src="img/inst-img1.jpg", alt="")