section.menu
	ul.menu-list
		li.menu-list__item.menu-list__item-gray
			span.menu-list__link.menu-list__link-white Menu                                         
		li.menu-list__item
			a(href="#").menu-list__link About
		li.menu-list__item
			a(href="#").menu-list__link apparel
		li.menu-list__item
			a(href="#").menu-list__link surf apparel
		li.menu-list__item
			a(href="#").menu-list__link windsurf
		li.menu-list__item
			a(href="#").menu-list__link kitesurf
		li.menu-list__item
			a(href="#").menu-list__link accessories
		li.menu-list__item
			a(href="#").menu-list__link sale
		li.menu-list__item
			a(href="#").menu-list__link brands
		li.menu-list__item
			a(href="#").menu-list__link blog
		li.menu-list__item
			a(href="#").menu-list__link Gadgets
		li.menu-list__item
			a(href="#").menu-list__link cantact
