section.new-product.product
	.product-title
		h2 new product
	.product-slide
		ul.product-list
			li.matchheight-h.product-list__item.label-new
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item.label-hot
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
						span.product-list__price-old €.2,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name The White Collection SURFBOARD 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
		ul.product-list
			li.matchheight-h.product-list__item.label-new
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item.label-hot
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
						span.product-list__price-old €.2,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name The White Collection SURFBOARD 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
		ul.product-list
			li.matchheight-h.product-list__item.label-new
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item.label-hot
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
						span.product-list__price-old €.2,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name The White Collection SURFBOARD 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014 fhg fg hfgh fg hfg hfg hfgh 
						span.product-list__price €.1,546.70
			li.matchheight-h.product-list__item
				a.product-list__link(href="#")
					.product-list__image
						img(src="img/product-img.jpg")
					.product-list__wrap.matchheight-w
						span.product-list__name Single Thruster 2014
						span.product-list__price €.1,546.70










