section.product-tabs
	.tabs-list
			input.tabs-list__input(type="radio" name="tabs" id="tabs1")
			label.tabs-list__label(for="tabs1" title="dasd") Product Description

			input.tabs-list__input(type="radio" name="tabs" id="tabs2")
			label.tabs-list__label(for="tabs2" title="dasd") additional information

			input.tabs-list__input(type="radio" name="tabs" id="tabs3")
			label.tabs-list__label(for="tabs3" title="dasd") Reviews

			input.tabs-list__input(type="radio" name="tabs" id="tabs4")
			label.tabs-list__label(for="tabs4" title="dasd") product tags
			#tabs-list__content1
				p 
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.      
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.
					|	- 6.1 oz. 100% preshrunk heavyweight cotton
					|	- Shoulder-to-shoulder taping
					|	- Double-needle sleeves and bottom hem
					|	It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
			#tabs-list__content2
				p 
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.      
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.
					|	- 6.1 oz. 100% preshrunk heavyweight cotton
					|	- Shoulder-to-shoulder taping
					|	- Double-needle sleeves and bottom hem
					|	It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
			#tabs-list__content3
				p 
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.      
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.
					|	- 6.1 oz. 100% preshrunk heavyweight cotton
					|	- Shoulder-to-shoulder taping
					|	- Double-needle sleeves and bottom hem
					|	It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 
			#tabs-list__content4
				p 
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.      
					|	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
					|	which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the 
					|	middle of text.
					|	- 6.1 oz. 100% preshrunk heavyweight cotton
					|	- Shoulder-to-shoulder taping
					|	- Double-needle sleeves and bottom hem
					|	It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. 