section.product-info
	.product-nav
	.product-description
		.galery-slide#carusel-galery
			div(data-thumb="img/galery-1.jpg")
				img(src="img/galery-1.jpg")
			div(data-thumb="img/galery-2.jpg")
				img(src="img/galery-2.jpg")
			div(data-thumb="img/galery-3.jpg")
				img(src="img/galery-3.jpg")
			div(data-thumb="img/galery-4.jpg")
				img(src="img/galery-4.jpg")
			div(data-thumb="img/galery-5.jpg")
				img(src="img/galery-5.jpg")
		.droduct-description__info

