section.slider
	.slider__wrap
		.slider-item
			.slider-item__img
				img(src="img/bg-slider.jpg")
			.slider-item__content
				.slider-content__title
					h1 JP Funride 2014
				.slider-content__text
					p Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing. 
				a(href="#").slider-content__btn.btn Buy now
		.slider-item
			.slider-item__img
				img(src="img/bg-slider.jpg")
			.slider-item__content
				.slider-content__title
					h1 JP Funride 2014
				.slider-content__text
					p Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing. 
				a(href="#").slider-content__btn.btn Buy now
		.slider-item
			.slider-item__img
				img(src="img/bg-slider.jpg")
			.slider-item__content
				.slider-content__title
					h1 JP Funride 2014
				.slider-content__text
					p Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing. 
				a(href="#").slider-content__btn.btn Buy now