section.social
	.container
		ul.social-lists
			li.social-lists__item
				a.socials-list__link(href="#")
					img(src="img/social-img1.jpg", alt="")
			li.social-lists__item
				a.socials-list__link(href="#")
					img(src="img/social-img2.jpg", alt="")
			li.social-lists__item
				a.socials-list__link(href="#")
					img(src="img/social-img3.jpg", alt="")