section.widget
	.widget__title
		h2 Tags Widget
	ul.widget-list
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Kitesurf
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Super
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Duper
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Theme
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Men
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Women
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Equipment
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Best
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Accessories
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Men
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Apparel
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Super
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Duper
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Theme
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Responsiv
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Men
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Women
		li.widget-list__item
			label
				input.widget-list__checkbox(type="checkbox" placeholer="super")
				span Equipment		
	a.widget__link(href="#") view all tags -