.aside-padding {
  background-color: $white;
  max-width: 270px;
  width: 100%;
  padding: 20px 25px;
}
.sidebar{
	max-width: 270px;
	width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.title__holder {
  font-weight: 900;
  font-style: italic;
  font-size: 24px;
}
.view-link{
	font-weight: 900;
	font-style: italic;
	font-size: 18px;
	@include transition(opacity);
	&:hover{
		opacity: .7;
	}
}
.label-new{
	position: relative;
	&:after{
		content: ''; 
		top: 0;
		right: 0;
		position: absolute;
		border: 25px solid transparent;
		border-right: 25px solid $red;
		border-top: 25px solid $red;
	}
	&:before{
		content: "NEW";
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 11px;
		z-index: 1;
		color: $white;
	}
}
.label-hot{
	position: relative;
	&:after{
		content: ''; 
		top: 0;
		right: 0;
		position: absolute;
		border: 25px solid transparent;
		border-right: 25px solid $yellow;
		border-top: 25px solid $yellow;
	}
	&:before{
		content: "HOT";
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 11px;
		z-index: 1;
		color: $black;
	}
}

/////after DEL

.ico-box{
	font-family: "FontAwesome";
	font-size: 40px;
	display: flex;
	flex-wrap: wrap;
	div{
		margin: 15px;
	}
}

////after line


.grey-line:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	background: $line;
	background: linear-gradient(
	  to right,
	  $line 0%,
	  $line 11%,
	  $line 11%,
	  $line 11%,
	  $line 15%,
	  $line-x 16%,
	  $line-x 89%,
	  $line 90%,
	  $line 90%,
	  $line 92%,
	  $line 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#f02f17', GradientType=1 );
  }