doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1. ")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="format-detection" content="telephone=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title SURFHOUS
		link(href="favicon.ico" rel="shortcut icon")
		link(href="https://fonts.googleapis.com/css?family=Raleway:1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 |Roboto+Condensed:3 ,3 i,4 ,4 i,7 ,7 i|Roboto:1 ,1 i,3 ,3 i,4 ,4 i,5 ,5 i,7 ,7 i,9 ,9 i&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
	body
		.ico-box
			.fa-glass   
				
			
			.fa-music   
				
			
			.fa-search   
				
			
			.fa-envelope-o   
				
			
			.fa-heart   
				
			
			.fa-star   
				
			
			.fa-star-o   
				
			
			.fa-user   
				
			
			.fa-film   
				
			
			.fa-th-large   
				
			
			.fa-th   
				a 
			
			.fa-th-list   
				b 
			
			.fa-check   
				c 
			
			.fa-times   
				d 
			
			.fa-search-plus   
				e 
			
			.fa-search-minus   
				
			
			.fa-power-off   
				
			
			.fa-signal   
				
			
			.fa-gear ,
			.fa-cog   
				
			
			.fa-trash-o   
				
			
			.fa-home   
				
			
			.fa-file-o   
				
			
			.fa-clock-o   
				
			
			.fa-road   
				
			
			.fa-download   
				
			
			.fa-arrow-circle-o-down   
				a 
			
			.fa-arrow-circle-o-up   
				b 
			
			.fa-inbox   
				c 
			
			.fa-play-circle-o   
				d 
			
			.fa-rotate-right ,
			.fa-repeat   
				e 
			
			.fa-refresh   
				
			
			.fa-list-alt   
				
			
			.fa-lock   
				
			
			.fa-flag   
				
			
			.fa-headphones   
				
			
			.fa-volume-off   
				
			
			.fa-volume-down   
				
			
			.fa-volume-up   
				
			
			.fa-qrcode   
				
			
			.fa-barcode   
				a 
			
			.fa-tag   
				b 
			
			.fa-tags   
				c 
			
			.fa-book   
				d 
			
			.fa-bookmark   
				e 
			
			.fa-print   
				f 
			
			.fa-camera   
				
			
			.fa-font   
				
			
			.fa-bold   
				
			
			.fa-italic   
				
			
			.fa-text-height   
				
			
			.fa-text-width   
				
			
			.fa-align-left   
				
			
			.fa-align-center   
				
			
			.fa-align-right   
				
			
			.fa-align-justify   
				
			
			.fa-list   
				a 
			
			.fa-dedent ,
			.fa-outdent   
				b 
			
			.fa-indent   
				c 
			
			.fa-video-camera   
				d 
			
			.fa-picture-o   
				e 
			
			.fa-pencil   
				
			
			.fa-map-marker   
				
			
			.fa-adjust   
				
			
			.fa-tint   
				
			
			.fa-edit
			.fa-pencil-square-o   
				
			
			.fa-share-square-o   
				
			
			.fa-check-square-o   
				
			
			.fa-arrows   
				
			
			.fa-step-backward   
				
			
			.fa-fast-backward   
				
			
			.fa-backward   
				a 
			
			.fa-play   
				b 
			
			.fa-pause   
				c 
			
			.fa-stop   
				d 
			
			.fa-forward   
				e 
			
			.fa-fast-forward   
				
			
			.fa-step-forward   
				
			
			.fa-eject   
				
			
			.fa-chevron-left   
				
			
			.fa-chevron-right   
				
			
			.fa-plus-circle   
				
			
			.fa-minus-circle   
				
			
			.fa-times-circle   
				
			
			.fa-check-circle   
				
			
			.fa-question-circle   
				
			
			.fa-info-circle   
				a 
			
			.fa-crosshairs   
				b 
			
			.fa-times-circle-o   
				c 
			
			.fa-check-circle-o   
				d 
			
			.fa-ban   
				e 
			
			.fa-arrow-left   
				
			
			.fa-arrow-right   
				
			
			.fa-arrow-up   
				
			
			.fa-arrow-down   
				
			
			.fa-mail-forward ,
			.fa-share   
				
			
			.fa-expand   
				
			
			.fa-compress   
				
			
			.fa-plus   
				
			
			.fa-minus   
				
			
			.fa-asterisk   
				
			
			.fa-exclamation-circle   
				a 
			
			.fa-gift   
				b 
			
			.fa-leaf   
				c 
			
			.fa-fire   
				d 
			
			.fa-eye   
				e 
			
			.fa-eye-slash   
				
			
			.fa-warning ,
			.fa-exclamation-triangle   
				
			
			.fa-plane   
				
			
			.fa-calendar   
				
			
			.fa-random   
				
			
			.fa-comment   
				
			
			.fa-magnet   
				
			
			.fa-chevron-up   
				
			
			.fa-chevron-down   
				
			
			.fa-retweet   
				
			
			.fa-shopping-cart   
				a 
			
			.fa-folder   
				b 
			
			.fa-folder-open   
				c 
			
			.fa-arrows-v   
				d 
			
			.fa-arrows-h   
				e 
			
			.fa-bar-chart-o   
				
			
			.fa-twitter-square   
				
			
			.fa-facebook-square   
				
			
			.fa-camera-retro   
				
			
			.fa-key   
				
			
			.fa-gears ,
			.fa-cogs   
				
			
			.fa-comments   
				
			
			.fa-thumbs-o-up   
				
			
			.fa-thumbs-o-down   
				
			
			.fa-star-half   
				
			
			.fa-heart-o   
				a 
			
			.fa-sign-out   
				b 
			
			.fa-linkedin-square   
				c 
			
			.fa-thumb-tack   
				d 
			
			.fa-external-link   
				e 
			
			.fa-sign-in   
				
			
			.fa-trophy   
				
			
			.fa-github-square   
				
			
			.fa-upload   
				
			
			.fa-lemon-o   
				
			
			.fa-phone   
				
			
			.fa-square-o   
				
			
			.fa-bookmark-o   
				
			
			.fa-phone-square   
				
			
			.fa-twitter   
				
			
			.fa-facebook   
				a 
			
			.fa-github   
				b 
			
			.fa-unlock   
				c 
			
			.fa-credit-card   
				d 
			
			.fa-rss   
				e 
			
			.fa-hdd-o   
				a 
			
			.fa-bullhorn   
				a  
			
			.fa-bell   
				f  
			
			.fa-certificate   
				a  
			
			.fa-hand-o-right   
				a  
			
			.fa-hand-o-left   
				a  
			
			.fa-hand-o-up   
				a  
			
			.fa-hand-o-down   
				a  
			
			.fa-arrow-circle-left   
				a  
			
			.fa-arrow-circle-right   
				a  
			
			.fa-arrow-circle-up   
				aa 
			
			.fa-arrow-circle-down   
				ab 
			
			.fa-globe   
				ac 
			
			.fa-wrench   
				ad 
			
			.fa-tasks   
				ae 
			
			.fa-filter   
				b 
			
			.fa-briefcase   
				b  
			
			.fa-arrows-alt   
				b  
			
			.fa-group ,
			.fa-users   
				c 
			
			.fa-chain ,
			.fa-link   
				c  
			
			.fa-cloud   
				c  
			
			.fa-flask   
				c  
			
			.fa-cut ,
			.fa-scissors   
				c  
			
			.fa-copy ,
			.fa-files-o   
				c  
			
			.fa-paperclip   
				c  
			
			.fa-save ,
			.fa-floppy-o   
				c  
			
			.fa-square   
				c  
			
			.fa-bars   
				c  
			
			.fa-list-ul   
				ca 
			
			.fa-list-ol   
				cb 
			
			.fa-strikethrough   
				cc 
			
			.fa-underline   
				cd 
			
			.fa-table   
				ce 
			
			.fa-magic   
				d 
			
			.fa-truck   
				d  
			
			.fa-pinterest   
				d  
			
			.fa-pinterest-square   
				d  
			
			.fa-google-plus-square   
				d  
			
			.fa-google-plus   
				d  
			
			.fa-money   
				d  
			
			.fa-caret-down   
				d  
			
			.fa-caret-up   
				d  
			
			.fa-caret-left   
				d  
			
			.fa-caret-right   
				da 
			
			.fa-columns   
				db 
			
			.fa-unsorted ,
			.fa-sort   
				dc 
			
			.fa-sort-down ,
			.fa-sort-asc   
				dd 
			
			.fa-sort-up ,
			.fa-sort-desc   
				de 
			
			.fa-envelope   
				e 
			
			.fa-linkedin   
				e  
			
			.fa-rotate-left ,
			.fa-undo   
				e  
			
			.fa-legal ,
			.fa-gavel   
				e  
			
			.fa-dashboard ,
			.fa-tachometer   
				e  
			
			.fa-comment-o   
				e  
			
			.fa-comments-o   
				e  
			
			.fa-flash ,
			.fa-bolt   
				e  
			
			.fa-sitemap   
				e  
			
			.fa-umbrella   
				e  
			
			.fa-paste ,
			.fa-clipboard   
				ea 
			
			.fa-lightbulb-o   
				eb 
			
			.fa-exchange   
				ec 
			
			.fa-cloud-download   
				ed 
			
			.fa-cloud-upload   
				ee 
			
			.fa-user-md   
				f 
			
			.fa-stethoscope   
				f  
			
			.fa-suitcase   
				f  
			
			.fa-bell-o   
				a  
			
			.fa-coffee   
				f  
			
			.fa-cutlery   
				f  
			
			.fa-file-text-o   
				f  
			
			.fa-building-o   
				f  
			
			.fa-hospital-o   
				f  
			
			.fa-ambulance   
				f  
			
			.fa-medkit   
				fa 
			
			.fa-fighter-jet   
				fb 
			
			.fa-beer   
				fc 
			
			.fa-h-square   
				fd 
			
			.fa-plus-square   
				fe 
			
			.fa-angle-double-left   
				
			
			.fa-angle-double-right   
				
			
			.fa-angle-double-up   
				
			
			.fa-angle-double-down   
				
			
			.fa-angle-left   
				
			
			.fa-angle-right   
				
			
			.fa-angle-up   
				
			
			.fa-angle-down   
				
			
			.fa-desktop   
				
			
			.fa-laptop   
				
			
			.fa-tablet   
				a 
			
			.fa-mobile-phone ,
			.fa-mobile   
				b 
			
			.fa-circle-o   
				c 
			
			.fa-quote-left   
				d 
			
			.fa-quote-right   
				e 
			
			.fa-spinner   
				
			
			.fa-circle   
				
			
			.fa-mail-reply ,
			.fa-reply   
				
			
			.fa-github-alt   
				
			
			.fa-folder-o   
				
			
			.fa-folder-open-o   
				
			
			.fa-smile-o   
				
			
			.fa-frown-o   
				
			
			.fa-meh-o   
				a 
			
			.fa-gamepad   
				b 
			
			.fa-keyboard-o   
				c 
			
			.fa-flag-o   
				d 
			
			.fa-flag-checkered   
				e 
			
			.fa-terminal   
				
			
			.fa-code   
				
			
			.fa-reply-all   
				
			
			.fa-mail-reply-all   
				
			
			.fa-star-half-empty ,
			.fa-star-half-full ,
			.fa-star-half-o   
				
			
			.fa-location-arrow   
				
			
			.fa-crop   
				
			
			.fa-code-fork   
				
			
			.fa-unlink ,
			.fa-chain-broken   
				
			
			.fa-question   
				
			
			.fa-info   
				
			
			.fa-exclamation   
				a 
			
			.fa-superscript   
				b 
			
			.fa-subscript   
				c 
			
			.fa-eraser   
				d 
			
			.fa-puzzle-piece   
				e 
			
			.fa-microphone   
				
			
			.fa-microphone-slash   
				
			
			.fa-shield   
				
			
			.fa-calendar-o   
				
			
			.fa-fire-extinguisher   
				
			
			.fa-rocket   
				
			
			.fa-maxcdn   
				
			
			.fa-chevron-circle-left   
				
			
			.fa-chevron-circle-right   
				
			
			.fa-chevron-circle-up   
				
			
			.fa-chevron-circle-down   
				a 
			
			.fa-html    
				b 
			
			.fa-css    
				c 
			
			.fa-anchor   
				d 
			
			.fa-unlock-alt   
				e 
			
			.fa-bullseye   
				
			
			.fa-ellipsis-h   
				
			
			.fa-ellipsis-v   
				
			
			.fa-rss-square   
				
			
			.fa-play-circle   
				
			
			.fa-ticket   
				
			
			.fa-minus-square   
				
			
			.fa-minus-square-o   
				
			
			.fa-level-up   
				
			
			.fa-level-down   
				
			
			.fa-check-square   
				a 
			
			.fa-pencil-square   
				b 
			
			.fa-external-link-square   
				c 
			
			.fa-share-square   
				d 
			
			.fa-compass   
				e 
			
			.fa-toggle-down ,
			.fa-caret-square-o-down   
				
			
			.fa-toggle-up ,
			.fa-caret-square-o-up   
				
			
			.fa-toggle-right ,
			.fa-caret-square-o-right   
				
			
			.fa-euro ,
			.fa-eur   
				
			
			.fa-gbp   
				
			
			.fa-dollar ,
			.fa-usd   
				
			
			.fa-rupee ,
			.fa-inr   
				
			
			.fa-cny ,
			.fa-rmb ,
			.fa-yen ,
			.fa-jpy   
				
			
			.fa-ruble ,
			.fa-rouble ,
			.fa-rub   
				
			
			.fa-won ,
			.fa-krw   
				
			
			.fa-bitcoin ,
			.fa-btc   
				a 
			
			.fa-file   
				b 
			
			.fa-file-text   
				c 
			
			.fa-sort-alpha-asc   
				d 
			
			.fa-sort-alpha-desc   
				e 
			
			.fa-sort-amount-asc   
				
			
			.fa-sort-amount-desc   
				
			
			.fa-sort-numeric-asc   
				
			
			.fa-sort-numeric-desc   
				
			
			.fa-thumbs-up   
				
			
			.fa-thumbs-down   
				
			
			.fa-youtube-square   
				
			
			.fa-youtube   
				
			
			.fa-xing   
				
			
			.fa-xing-square   
				
			
			.fa-youtube-play   
				a 
			
			.fa-dropbox   
				b 
			
			.fa-stack-overflow   
				c 
			
			.fa-instagram   
				d 
			
			.fa-flickr   
				e 
			
			.fa-adn   
				
			
			.fa-bitbucket   
				
			
			.fa-bitbucket-square   
				
			
			.fa-tumblr   
				
			
			.fa-tumblr-square   
				
			
			.fa-long-arrow-down   
				
			
			.fa-long-arrow-up   
				
			
			.fa-long-arrow-left   
				
			
			.fa-long-arrow-right   
				
			
			.fa-apple   
				
			
			.fa-windows   
				a 
			
			.fa-android   
				b 
			
			.fa-linux   
				c 
			
			.fa-dribbble   
				d 
			
			.fa-skype   
				e 
			
			.fa-foursquare   
				
			
			.fa-trello   
				
			
			.fa-female   
				
			
			.fa-male   
				
			
			.fa-gittip   
				
			
			.fa-sun-o   
				
			
			.fa-moon-o   
				
			
			.fa-archive   
				
			
			.fa-bug   
				
			
			.fa-vk   
				
			
			.fa-weibo   
				a 
			
			.fa-renren   
				b 
			
			.fa-pagelines   
				c 
			
			.fa-stack-exchange   
				d 
			
			.fa-arrow-circle-o-right   
				e 
			
			.fa-arrow-circle-o-left   
				
			
			.fa-toggle-left ,
			.fa-caret-square-o-left   
				
			
			.fa-dot-circle-o   
				
			
			.fa-wheelchair   
				
			
			.fa-vimeo-square   
				
			
			.fa-turkish-lira ,
			.fa-try   
				
			
			.fa-plus-square-o   
				
			