doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, target-densitydpi=device-dpi, user-scalable=yes, initial-scale=1. ")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="format-detection" content="telephone=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title SURFHOUS
		link(href="favicon.ico" rel="shortcut icon")
		link(href="https://fonts.googleapis.com/css?family=Raleway:1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 |Roboto+Condensed:3 ,3 i,4 ,4 i,7 ,7 i|Roboto:1 ,1 i,3 ,3 i,4 ,4 i,5 ,5 i,7 ,7 i,9 ,9 i&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
	body
		include ../modules/header
		div#main
			include ../modules/bg
			include ../modules/basket
			section.layout
				.container
					.content.content-down
						include ../modules/product-info

					aside.sidebar
						include ../modules/menu
						include ../modules/category
						include ../modules/brand-option
						include ../modules/widget
						include ../modules/board-open
			include ../modules/social
			include ../modules/footer






		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="js/libs.min.js")
		script(src="js/main.js")