.layout {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .side-bar {
  max-width: 275px;
  width: 100%;
}
.content{
	max-width: 870px;
	width: 100%;
	order: 2;
	background-color: $white-color;
	margin-top: -15px;
	z-index: 1;
	&-down{
		margin-top: 0;
	}
}
}
