.menu{
	position: relative;
	margin-top: -15px;
	margin-bottom: 30px;
}
.menu-list {
  max-width: 270px;
  text-transform: uppercase;
  font-weight: 900;
  &__item {
    background-color: $blue;
    &-gray {
      background-color: $grey;
    }
  }
  &__link {
    padding: 15px 0 15px 35px;
    display: block;
    color: $black;
    @include transition(background-color color);
    &-white {
      color: $white;
      padding: 25px 0 25px 35px;
    }
    &:hover {
      background-color: $grey;
      color: $white;
    }
  }
}
