.menu{
	position: relative;
	margin-top: -15px;
	margin-bottom: 20px;
	&-category{
		margin-top: 0;
	}
}
.menu-list {
  text-transform: uppercase;
  font-weight: 900;
  &__item {
    background-color: $blue;
    &-gray {
      background-color: $grey;
    }
  }
  &__link {
    padding: 15px 0 15px 35px;
    display: block;
    color: $black;
	@include transition(background-color color);
	&-light{
		background-color: $blue-light;
	}
    &-white {
      color: $white;
      padding: 25px 0 25px 35px;
    }
    &:hover {
      background-color: $grey;
      color: $white;
    }
  }
}
