.product-info {
  .galery-slide {
    max-width: 400px;
    .slick-btn {
      position: absolute;
      bottom: 0;
      z-index: 20;
      background-color: red;
      &:before {
        font-family: $font;
        font-size: 70px;
        position: absolute;
        line-height: 60px;
        bottom: 25px;
      }
    }
    .slick-prev {
      left: 0;
      &:before {
        left: 10px;
        content: "\f104";
      }
    }
    .slick-next {
      right: 0;
      &:before {
        right: 10px;
        content: "\f105";
      }
    }
  }
  .slick-slide {
    overflow: hidden;
    height: 380px;
    position: relative;
    z-index: 999;
  }
  .slick-slide img {
    transition: width 0.5s;
    height: auto;
    width: 100px;
    object-fit: cover;
  }
  .slick-list img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .slick-dots li {
    width: 100px !important;
    object-fit: cover;
    display: inline-block;
    margin: 0;
    height: auto;
  }
  .slick-dots li img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.5s;
    border: 1px solid #fff;
    padding: 5px;
    box-shadow: 0.5px 3px 7px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0.5px 3px 7px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0.5px 3px 7px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  .slick-dots li:hover img {
    -webkit-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
    box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0.9px 4.9px 21px rgba(0, 0, 0, 0.25);
    border: 1px solid #e2e2e2;
  }
  .slick-dots {
    position: relative;
    text-align: left;
    width: 75%;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
.product-description {
  display: flex;
  justify-content: space-between;
  color: $dark;
  font-size: 12px;
  &__info {
    max-width: 430px;
  }
  &__name {
    h2 {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      font-family: $roboto;
      margin-bottom: 5px;
    }
  }
  &__price {
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-size: 22px;
    color: $black;
    margin-top: 15px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__size,
  &__owerview,
  &__wrap,
  &__length {
    padding: 15px 0;
    position: relative;
  }
  &__code,
  &__availability {
    span {
      font-weight: 600;
    }
  }
}
.product {
  &-overview,
  &-size,
  &-length {
    &__title {
      h5 {
        text-transform: uppercase;
        color: $dark;
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
    &__text {
      color: $title-p;
    }
  }
}
