.widget {
	margin-bottom: 20px;
}
.widget-list {
	margin-bottom: 10px;
  &__item {
    display: inline-block;
    margin: 2.5px;
	color: $grey;
	&-big{
		font-weight: 700;
		font-size: 16px;
	}
    span {
      display: inline-block;
	  padding: 10px;
	  user-select: none;
      background-color: $white-gray;
    }
  }
  &__checkbox {
    display: none;
    &:checked ~ span {
	  background-color: $yellow;
    }
  }
}